 @import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,300;10..48,400;10..48,500;10..48,600;10..48,700;10..48,800&family=Darker+Grotesque:wght@300;400;500;600;700;800;900&display=swap');

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Darker Grotesque', sans-serif;

 }

 body {
     width: 100%;
     height: 100vh;
     padding: 10px 40px;
 }

 nav {
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-bottom: 60px;
}
 

 .logo-header {
     display: flex;
     align-items: center;
     width: 7em;

 }

 .lobe-header-menu {
     display: flex;
     margin-right: 5px;
     width: 15em;
     flex-direction: row;
 }

 .menu-nav-header ul {
     display: flex;
     list-style-type: none;
     gap: 48px;
 }

 .menu-nav-header a {
     text-decoration: none;
     color: #767676;
     font-size: 1.3em;
     font-weight: 600;
     cursor: pointer;
     transition: all .2s ease-in-out
 }

 .menu-nav-header a:hover {
     color: #333;
     font-weight: 700;
     text-shadow: 0px 1px 3px #d3d3d3;

 }

 .button-download-header {
     display: flex;
     align-items: center;
     justify-content: center;
     text-align: center;
     width: 129px;
     height: 48px;
     padding: 10px;
     color: #fff;
     background-color: #04ddb2;
     border: none;
     font-size: 1.5em;
     border-radius: 1.2em;
     font-weight: 700;
     cursor: pointer;
     transition: all .3s ease-in-out
 }

 .button-download-header:hover {
     color: #333;
     font-weight: 700;
     box-shadow: 0 2px 7px #60ffdf;
     transform: scale(1.02);

 }

 main {
     display: flex;
     justify-content: center;
     text-align: center;
     flex-wrap: wrap;
 }

 .heading-main-lobe {
     font-size: 7rem;
     color: #333;
     font-weight: 800;
 }

 .heading-main-lobe span {
     color: #04ddb2;
 }

 .heading-p-lobe {
     text-align: center;
     font-size: 35px;
     max-width: 26em;
     color: #333;
     font-weight: 500;

 }

 #video-main-lobe {
     margin-top: 110px;
     margin-bottom: 140px;
     width: 100%;
 }

 #video-main-lobe iframe {
    width: 100%;
     height: 45em;
     border-radius: 14px;
     transition: all .3s ease-in-out;
 }

 #video-main-lobe iframe:hover {
     transform: scale(1.01);
     box-shadow: 1rem 3rem 7rem #808080;

 }

 .span-end {
     display: flex;
     justify-content: center;
     width: 100vw;
     margin-bottom: 50px;

 }

 .span-end span {
     max-width: 750px;
     font-size: 7em;
     font-weight: 800;
     color: #333;
     line-height: 100px;
     letter-spacing: 0.2px;
     margin-bottom: 15px;
 }

 .button-download {
     align-items: center;
     justify-content: center;
     text-align: center;
     width: 5.5em;
     height: 2.5em;
     margin-bottom: 60px;
     padding: 10px;
     color: #fff;
     background-color: #04ddb2;
     border: none;
     font-size: 1.5em;
     border-radius: 1.2em;
     font-weight: 700;
     cursor: pointer;
     transition: all .3s ease-in-out
 }

 .button-download:hover {
     color: #333;
     font-weight: 700;
     box-shadow: 0 2px 7px #60ffdf;
     transform: scale(1.02);
 }

 footer {
     display: flex;
     justify-content: center;
     align-items: flex-start;
 }

 .footer-page {
     display: flex;
     justify-content: space-between;
     border-top: 0.5px solid rgba(0, 0, 0, .2);
     background-color: #fff;
     padding: 112px 0;
     max-width: 1600px;
     padding: 60px 20px;
     column-gap: 25px;

 }

 footer .logo-header {
     width: 100px;
 }

 .footer-copywrite-line {
     color: #333;
     font-size: 1.8em;
     font-weight: 400;
     line-height: 1.5em;
     justify-content: flex-start;

 }

 .footer-column,
 .primeira-column {
     display: flex;
     flex-direction: column;
     list-style: none;
     margin-left: 8px;

 }

 .footer-column-heading {
     color: #333;
     font-weight: 600;
     font-size: 1.5em;
     margin-bottom: 40px;
     margin-left: 8px;
 }

 .footer-column-link {
    color: #333;
     line-height: 50px;
     text-decoration: none;
     font-size: 1.6em;
     cursor: pointer;
     transition: all .2s ease-in-out;

 }

 .footer-column a:hover {
     color: #333;
     font-weight: 500;
     text-shadow: 0px 1px 3px #d3d3d3;

 }

 .container-social-link {
     display: flex;
     flex-direction: row;
     align-items: center
 }

 .social-links {
     width: 60px;
     padding: 10px 0;
     padding-right: 15px;
     transition: all .2s ease-in-out;
 }

 .social-links svg:hover {
     transform: scale(1.02);
 }